<div class="mobile-navigation"></div> <!-- .mobile-navigation -->
					</div> <!-- .main-navigation -->
				</div> <!-- .container -->
			</div> <!-- .site-header -->

			<!--<div class="home-slider">
				<ul class="slides">
					{loop="$products"}
					<li data-bg-image="{$value.desphoto}">
						<div class="container">
							<div class="slide-content">
								<h2 class="product-title"><a href="/products/{$value.desurl}">{$value.desproduct}</a></h2>
								<small class="price">${$value.vlprice}</small>
								
								<p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
								
								<a href="/cart" class="button">Add to cart</a>
							</div>

							<img src="{$value.desphoto}" class="slide-image">
						</div>
					</li>
					{/loop}
					<li data-bg-image="/resources/site/dummy/slide-2.jpg">
						<div class="container">
							<div class="slide-content">
								<h2 class="slide-title">R6</h2>
								<small class="slide-subtitle">$290.00</small>
								
								<p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
								
								<a href="/cart" class="button">Add to cart</a>
							</div>

							<img src="/resources/site/dummy/game-cover-2.jpg" class="slide-image">
						</div>
					</li>
				</ul> 
			</div>
			.home-slider -->

			<main class="main-content">
				<div class="container">

						
						<section>
							<header>
								<h2 class="section-title">All Games</h2>
								<!--<a href="/products" class="all">Show All</a>-->
							</header>

							<div class="product-list">
								{loop="$products"}
								<div class="product">
									<div class="inner-product">
										<div class="figure-image">
											<a><img src="{$value.desphoto}" alt=""></a>
										</div>
										<h3 class="product-title"><a href="/products/{$value.desurl}">{$value.desproduct}</a></h3>
										<small class="price">${$value.vlprice}</small>
										<!-- <p>Lorem ipsum dolor sit consectetur adipiscing elit do eiusmod tempor...</p> -->
										<a href="/cart/{$value.idproduct}/add" class="button">Add to cart</a>
										<a href="/products/{$value.desurl}" class="button muted">Read Details</a>
									</div>
								</div> <!-- .product -->
								{/loop}
							</div> <!-- .product-list -->
						</div>
					</div> <!-- .container -->
				</main> <!-- .main-content -->

						</section>
					</div>
				</div> <!-- .container -->
			</main> <!-- .main-content -->

			